
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 23px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

a {
	text-decoration: none;
}

.form-check-input:checked {
	background-color: #71c9ce;
	border-color: #71c9ce;
}

.newitem {
	margin-top: 150px;
}

.newitem2 {
	margin-top: 30px;
}

.newitem3 {
	background-color: #fff;
}

.thumbnail img {
	width: 100%;
}

.footerbg {
	background-color: #333;
	padding: 60px 0;
	margin: 80px 0 0 0;
}

.footerbg p {
	color: #fff;
	text-align: center;
}

.subvisual {
	padding: 40px 0;
	border-bottom: 1px solid #c9c9c9;
}

.subcontent {
	margin: 40px 0;
}

.page {
	position: relative;
}

.page button {
	position: absolute;
	top: 20px;
	right: 30px;
}

.login_mark {
	font-size: 60px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.login_sentance {
	margin-top: 50px;
	margin-bottom: 50px;
}

.simple {
	padding-bottom: 30px;
}

.w-100 {
	width: 100% !important;
}

.register {
	margin-top: 10px;
	font-size: 16px;
	text-align: center;
	text-decoration: none; /* 링크의 밑줄 제거 */
	color: inherit; /* 링크의 색상 제거 */
}

.remember {
	padding-bottom: 30px;
	font-size: 16px;
}

/* 반드시 overlay 여야함!! */
.test {
	overflow: overlay;
}

.test::-webkit-scrollbar {
	width: 1vw;
}

.test::-webkit-scrollbar-thumb {
	background-color: hsla(0, 0%, 42%, 0.49);
	border-radius: 100px;
}

.cubPeM {
	display: flex;
	flex-direction: column;
	width: 588px;
	margin: 0px auto;
	padding: 64px;
	border: 1px solid rgb(245, 245, 245);
}

.cubPeM>h1 {
	padding-bottom: 24px;
	font-size: 30px;
	line-height: 48px;
	letter-spacing: -0.5px;
	border-bottom: 1px solid rgb(245, 245, 245);
}

.cubPeM>h2 {
	padding: 32px 0px 48px;
	color: rgb(34, 34, 34);
	font-size: 14px;
	line-height: 24px;
}

.eVAGdp {
	display: inline-flex;
	flex-direction: column;
	margin-top: 0px;
	margin-bottom: 24px;
}

.bDaqny {
	display: inline-flex;
	flex-direction: column;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	touch-action: manipulation;
}

.bDaqny>p.label-text {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
}

.kHDHPO {
	width: 460px;
	height: 44px;
	padding: 10px 16px;
	color: rgb(34, 34, 34);
	font-size: 14px;
	line-height: 24px;
	border: 1px solid rgb(237, 237, 237);
	border-radius: 2px;
	background-color: rgb(255, 255, 255);
	transition: all 150ms ease-out 0s;
}

.dzBqJk {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
}

.fiEZwu:disabled {
	border: 1px solid rgb(223, 223, 223);
	background-color: rgb(223, 223, 223);
}

.fiEZwu:disabled {
	cursor: default;
}

.fiEZwu {
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	min-width: 80px;
	padding: 0px 16px;
	font-weight: 700;
	vertical-align: middle;
	transition: all 150ms ease-out 0s;
	cursor: pointer;
	background-color: rgb(50, 108, 249);
	border: 1px solid rgb(50, 108, 249);
	border-radius: 2px;
	color: rgb(255, 255, 255);
	height: 56px;
	flex: 0 0 auto;
}

.telINPO {
	width: 100px;
	height: 44px;
	padding: 10px 16px;
	color: rgb(34, 34, 34);
	font-size: 14px;
	line-height: 24px;
	border: 1px solid rgb(237, 237, 237);
	border-radius: 2px;
	background-color: rgb(255, 255, 255);
	transition: all 150ms ease-out 0s;
}

.iIhYYk {
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	padding: 64px;
	border: 1px solid rgb(245, 245, 245);
}

.iIhYYk>h1 {
	padding-bottom: 24px;
	font-size: 30px;
	line-height: 48px;
	letter-spacing: -0.5px;
	border-bottom: 1px solid rgb(245, 245, 245);
}

.iIhYYk>h2 {
	padding: 32px 0px 48px;
	color: rgb(34, 34, 34);
	font-size: 14px;
	line-height: 24px;
}

.FkTGj {
	display: flex;
	flex-direction: column;
	-webkit-box-flex: 1;
	flex-grow: 1;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin: 120px 0px;
}

.dRLayg {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	height: 24px;
	margin-bottom: 32px;
}

.dkAjDR {
	display: inline-flex;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	touch-action: manipulation;
	-webkit-box-align: center;
	align-items: center;
}

.dkAjDR>p.label-text {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
}

.dRLayg>div {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.dRLayg>div span {
	margin-left: 8px;
	margin-right: 8px;
	width: 1px;
	height: 12px;
	background-color: rgb(223, 223, 223);
}

.dRLayg>div p {
	cursor: pointer;
}

body p.caption1 {
	font-size: 12px;
	line-height: 20px;
}

body p.bold {
	font-weight: 700;
}

.eVAGeA {
	display: inline-flex;
	flex-direction: column;
	margin-top: 0px;
	margin-bottom: 16px;
}

.valid-feedback {
	color: #198754;
	font-size: 14px;
	line-height: 24px;
}

.invalid-feedback {
	color: rgb(255, 0, 0);
	font-size: 14px;
	line-height: 24px;
}

.uJPcK {
	display: flex;
	flex-wrap: wrap;
	border-top: 2px solid rgb(34, 34, 34);
}

.iEoaqL {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	padding: 30px 0px 40px;
}

.fYBZkD {
	flex: 0 0 auto;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	user-select: none;
	position: relative;
}

.fYBZkD>img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	font-family: "object-fit: cover;";
	opacity: 1;
}

.aEvFS {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin: 8px 0px;
	cursor: pointer;
}

.aEvFS>p {
	color: rgb(50, 108, 249);
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.kZxOhb {
	color: rgb(34, 34, 34);
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
}

.dWqXbC {
	width: 100%;
	padding-top: 80px;
	border-bottom: 1px solid rgb(237, 237, 237);
}

.exSEvD {
	flex: 0 0 auto;
	width: 122px;
	color: rgb(136, 136, 136);
	line-height: 50px;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
}

.dxmkoB {
	flex: 0 0 auto;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 250px;
	color: rgb(34, 34, 34);
	font-size: 14px;
	line-height: 50px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.uJPcK>li::marker {
	content: "·";
	flex: 0 0 auto;
	color: rgb(34, 34, 34);
	margin-right: 7px;
}

.POjih {
	flex: 0 0 auto;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 250px;
	color: rgb(34, 34, 34);
	font-size: 14px;
	line-height: 50px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: visible;
}

.iwgPgN {
	width: 100%;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.iwgPgN>div {
	width: 1200px;
	height: 100%;
	margin: 0px auto;
	padding: 0px 10px;
}

.uJPcK>li {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 33.3%;
	border-bottom: 1px solid rgb(235, 235, 235);
}

.dWqXbC {
	width: 100%;
	padding-top: 80px;
	border-bottom: 1px solid rgb(237, 237, 237);
}

.bKTJew {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.gYpPYH {
	color: rgb(34, 34, 34);
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	cursor: pointer;
	user-select: none;
}

.gYpPYH>span {
	margin-left: 2px;
	color: rgb(50, 108, 249);
	font-size: 24px;
	font-weight: 700;
	color: rgb(50, 108, 249);
}

.cNzXuD {
	display: flex;
	flex-wrap: wrap;
	margin-top: -20px;
	margin-left: -20px;
}

.cNzXuD>li {
	width: calc(25% - 20px);
	margin-left: 20px;
	margin-top: 50px;
	list-style: none;
}

.hObDcQ {
	position: relative;
}

.gSwvZYY {
	font-size: 20px;
	position: absolute;
	bottom: 40px;
	right: 40px;
	z-index: 2;
}

.eBlbuFF {
	border: 0px;
}

.bwyaas {
	display: block;
}

.hkMQhb {
	padding-top: 66.43%;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
}

.hkMQhb>div {
	position: absolute;
	inset: 0px;
}

.gMnRzx {
	flex: 0 0 auto;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	background-color: rgb(250, 250, 250);
	background-size: 60px 60px;
	user-select: none;
	position: relative;
	overflow: hidden;
}

.gMnRzx>img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	font-family: "object-fit: cover;";
}

.dZAvTS {
	background-color: rgba(0, 0, 0, 0.1);
	transition: background-color 200ms ease-in-out 0s;
	position: absolute;
	inset: 0px;
	z-index: 1;
}

.VkltZ {
	margin-top: 20px;
}

.dENvCl {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 4px;
	color: rgb(34, 34, 34);
	font-size: 13px;
	line-height: 19px;
}

.dWqXbC {
	width: 100%;
	padding-top: 80px;
	border-bottom: 1px solid rgb(237, 237, 237);
}

.iJlOig {
	margin-bottom: 4px;
	color: rgb(34, 34, 34);
	font-size: 20px;
	line-height: 29px;
}

.jFvIUQ {
	color: rgb(34, 34, 34);
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.hRcMAS {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 16px;
}

.img_wrap {
	overflow: hidden;
}

.img_wrap img {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-out;
}

.img_wrap img:hover {
	transform: scale(1.2);
}

.cBaPiP {
	font-size: 24px;
	line-height: 38px;
	letter-spacing: -0.5px;
	margin-bottom: 16px;
	font-family: auto;
	font-weight: bold;
}

.iOHiXt {
	padding-top: 16px;
	width: 100%;
	font: inherit;
}

.iOHiXt>li {
	padding-bottom: 16px;
}

.iehkos {
	width: 160px;
	font-size: 16px;
	line-height: 26px;
	font-weight: 700;
}

.gEjpOz {
	-webkit-box-flex: 1;
	flex-grow: 1;
	font-size: 16px;
	line-height: 26px;
}

.gEjpOz>label {
	vertical-align: top;
}

.fCMewi {
	padding-top: 50px;
	position: relative;
}

.gnAkun {
	width: 100%;
	-webkit-box-flex: 1;
	flex-grow: 1;
	padding-top: 40px;
}

.gfpGLh {
	width: 100%;
	min-width: 1200px;
	border-bottom: 1px solid rgb(223, 223, 223);
	background-color: rgb(255, 255, 255);
	position: fixed;
	transition: top 150ms ease-out 0s;
	z-index: 999;
}

.gfpGLh>div {
	width: 100%;
	margin: 0px auto;
	padding: 0px 10px;
}

.gurlpe {
	display: flex;
	width: 100%;
	height: 58px;
	position: relative;
}

.ISPTi {
	flex: 0 0 auto;
	margin-top: auto;
	padding-top: 24px;
	padding-bottom: 6px;
	font-size: 16px;
	line-height: 26px;
	color: rgb(34, 34, 34);
	border-bottom: 2px solid rgb(255, 255, 255);
}

.bEluxX {
	width: 400px;
	padding: 32px;
	margin-bottom: 24px;
	background: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0/ 10%) 0px 10px 20px;
	border: 1px solid rgb(223, 223, 223);
	border-radius: 2px;
}

.eBYVXv {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 16px;
}

.kbWyej {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.hVdoJo {
	margin-top: 16px;
}

.hVdoJo>h1 {
	color: rgb(34, 34, 34);
	font-size: 24px;
	line-height: 38px;
	letter-spacing: -0.5px;
	font-weight: 700;
}

.hVdoJo>p {
	color: rgb(101, 101, 101);
	font-size: 14px;
	line-height: 24px;
}

.eMZGot {
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
	margin-left: -32px;
	margin-bottom: 24px;
}

.eMZGot li {
	flex: 0 0 auto;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-left: 16px;
	margin-top: 8px;
	margin-bottom: 4px;
}

.eMZGot li:nth-child(2n+1)>p {
	width: 118px;
}

.eMZGot li>p {
	flex: 0 0 auto;
	color: rgb(34, 34, 34);
	font-size: 16px;
	line-height: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
}

.dhatyD {
	padding-top: 24px;
	border-top: 1px solid rgb(245, 245, 245);
}

.uLeNQ {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	height: 26px;
	padding: 0px;
	color: rgb(34, 34, 34);
	font-size: 16px;
	line-height: 26px;
	font-weight: 700;
	border: 0px;
	background-color: transparent;
}

.bjZJHf {
	margin-top: 4px;
	margin-bottom: 8px;
}

.bjZJHf>p {
	color: rgb(101, 101, 101);
	font-size: 14px;
	line-height: 24px;
}

.dtGkBV {
	height: 24px;
	padding: 0px 8px;
	font-size: 12px;
	line-height: 22px;
	color: rgb(101, 101, 101);
	border: 1px solid rgb(101, 101, 101);
	border-radius: 2px;
}

.jtcdhj {
	width: 400px;
	padding: 32px;
	background: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0/ 10%) 0px 10px 20px;
	border: 1px solid rgb(223, 223, 223);
	border-radius: 2px;
}

.biKwOB {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.biKwOB>div {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.dtGkBV {
	height: 24px;
	padding: 0px 8px;
	font-size: 12px;
	line-height: 22px;
	color: rgb(101, 101, 101);
	border: 1px solid rgb(101, 101, 101);
	border-radius: 2px;
}

.fzGgeZ {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
}

.eswqdM {
	font-size: 24px;
	line-height: 38px;
	letter-spacing: -0.5px;
	color: rgb(34, 34, 34);
	font-weight: bold;
	margin-bottom: 0;
	float: left;
}

.iVhrbX {
	font-size: 14px;
	line-height: 24px;
	color: rgb(101, 101, 101);
	margin-bottom: 0;
}

.bIRVVc {
	margin-top: 8px;
	padding-bottom: 16px;
	border-bottom: 1px solid rgb(245, 245, 245);
	font-size: 16px;
	line-height: 26px;
	padding: 5px;
	margin-bottom: 0;
}

.bIRVVc li {
	display: flex;
}

.fYSHvV {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.fYSHvV.left {
	width: 162px;
}

.fYSHvV svg.building {
	margin-left: -2px;
}

.fYSHvV span {
	margin-left: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bIRVVc li+li {
	margin-top: 8px;
}

.bIRVVc li {
	display: flex;
}

.kRCkkj {
	flex-direction: column;
	width: 100%;
	padding-top: 8px;
	margin-bottom: 0;
	font-family: auto;
}

.kRCkkj>div {
	display: flex;
	align-items: flex-start;
	margin-bottom: 0;
}

.kRCkkj>div>p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
}

.kRCkkj>div>p.title {
	margin-right: 8px;
	width: 60px;
	font-weight: bolder;
	margin-bottom: 0;
}

.kRCkkj>div>p.content {
	max-width: 242px;
}

.kRCkkj>div+div {
	margin-top: 4px;
	margin-bottom: 16px;
}

.jVGbJb {
	margin: 24px 0px 24px;
}

.jueGPM {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 16px;
	line-height: 26px;
	color: rgb(34, 34, 34);
	font-weight: 700;
	font-family: auto;
}

.jueGPM>p {
	margin-bottom: 0;
}

.brpHbd {
	display: flex;
	width: 100%;
	margin-top: 32px;
}

.brpHbd>button {
	flex: 1 1 0%;
}

.fiEZwu3 {
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	min-width: -webkit-fill-available;
	padding: 0px 16px;
	font-weight: 700;
	vertical-align: middle;
	transition: all 150ms ease-out 0s;
	cursor: pointer;
	background-color: rgb(50, 108, 249);
	border: 1px solid rgb(50, 108, 249);
	border-radius: 2px;
	color: rgb(255, 255, 255);
	height: 56px;
	flex: 0 0 auto;
}

.fiEZwu3>span {
	height: 24px;
	font-size: 14px;
	line-height: 24px;
}

.fiEZwu3>span {
	flex: 0 0 auto;
	display: block;
}

.fiEZwu>span {
	height: 24px;
	font-size: 14px;
	line-height: 24px;
}

.fiEZwu>span {
	flex: 0 0 auto;
	display: block;
}

.brpHbd button+div {
	width: 77px;
	margin-left: 8px;
}

.ezZqwh {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 0px;
	background-color: transparent;
}

.iXjxft {
	margin-left: 6px;
	font-size: 14px;
	line-height: 24px;
	color: rgb(34, 34, 34);
	font-weight: 700;
}

.jGAWeI {
	padding: 32px 24px;
	background-color: rgb(250, 250, 250);
}

.jGAWeI>p.title {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	line-height: 26px;
	color: rgb(34, 34, 34);
	font-weight: 700;
}

.hhaHrn {
	width: 100%;
	height: 100%;
	white-space: pre-wrap;
	margin-top: 16px;
	font-size: 16px;
	line-height: 26px;
	color: rgb(101, 101, 101);
}

.kKQMSn {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-left: 0;
}

.gAcyGl {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
}

.gAcyGl>div:nth-child(1), .gAcyGl>a {
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.hObDcQ {
	position: relative;
}

.gSwvZY {
	font-size: 0px;
	position: absolute;
	top: 8px;
	right: 15px;
	z-index: 2;
}

.eBlbuF {
	width: 24px;
	height: 24px;
	border: 0px;
	background-color: transparent;
}

.hkMQhb {
	padding-top: 66.43%;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
}

.bSKZAI {
	margin-top: 16px;
}

.hybbHD {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 12px;
	line-height: 20px;
	color: rgb(34, 34, 34);
	margin-bottom: 0;
}

.bYNMgs {
	font-size: 16px;
	line-height: 26px;
	font-weight: bold;
	color: rgb(34, 34, 34);
	margin-bottom: 0;
}

.eHtuHa {
	font-size: 14px;
	line-height: 24px;
	color: rgb(101, 101, 101);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 0;
}

.guJBBw {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 10px;
}

.sub_title {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	flex-direction: column;
	height: 200px;
	position: relative;
}

.sub_title_text {
	color: rgb(34, 34, 34);
	font-size: 33px;
	font-weight: 400;
	line-height: 49px;
}

.contents_box {
	width: 100%;
	heigth: 240px;
}

.gxMjHR>table tr {
	height: 70px;
}

.gxMjHR>table th {
	min-width: 150px;
	color: rgb(34, 34, 34);
	font-size: 15px;
	font-weight: 500;
	background-color: rgb(249, 249, 249);
	vertical-align: middle;
	text-align: center;
}

.gxMjHR>table td {
	vertical-align: middle;
}

.gMKyVw {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 0px 20px;
	margin-bottom: 0;
}

.blvQKJ {
	display: block;
	position: relative;
	cursor: pointer;
	padding-right: 10px;
}

.blvQKJ>input[type="radio"] {
	width: 0px;
	height: 0px;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

.blvQKJ>input[type="radio"]:checked+p {
	color: rgb(255, 255, 255);
	border-color: rgb(50, 108, 249);
	background-color: rgb(50, 108, 249);
}

.blvQKJ>p {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	min-width: 82px;
	height: 46px;
	padding: 0px 15px;
	color: rgb(102, 102, 102);
	font-size: 14px;
	border: 1px solid rgb(217, 217, 217);
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	user-select: none;
	margin-bottom: 0;
}

.bTJwPT {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	max-width: 1028px;
	padding: 12px 20px;
	position: relative;
}

.dZzEqg {
	padding: 0px 60px;
	color: rgb(76, 76, 76);
	font-size: 14px;
	border: 1px solid rgb(223, 223, 223);
	border-radius: 2px;
	background-color: rgb(255, 255, 255);
	width: 110px;
	height: 46px;
}

.ipuDqc {
	width: 100px;
	margin-left: 8px;
	color: rgb(34, 34, 34);
	font-size: 15px;
	line-height: 46px;
	text-align: center;
}

.cJTEJp {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	user-select: none;
	position: relative;
}

.nIpBu {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 12px 20px;
	position: relative;
}

.boOTqL {
	margin-right: 10px;
	font-size: 15px;
	color: rgb(34, 34, 34);
	line-height: 46px;
}

.gwaqis {
	height: 46px;
	padding: 0px 8px 0px 10px;
	color: rgb(76, 76, 76);
	font-size: 14px;
	border: 1px solid rgb(223, 223, 223);
	border-radius: 2px;
	box-sizing: border-box;
	background: url(/static/media/select_arrow.95d6586e.svg) right 8px
		center/10px 6px no-repeat rgb(255, 255, 255);
	outline: none;
	appearance: none;
	width: 170px;
}

.btn-bl {
	color: #fff;
	background: #186bb9;
	border: 1px solid #186bb9;
	display: inline-block;
	height: 35px;
	line-height: 34px;
	min-width: 90px;
	text-align: center;
	padding: 0 10px;
	vertical-align: middle;
	font-size: 0.75rem;
}

.dYdtIp {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-left: auto;
	color: rgb(136, 136, 136);
	font-size: 14px;
}

.klhTP {
	font-size: 12px;
	line-height: 20px;
	border: 1px solid rgb(223, 223, 223);
	border-radius: 2px;
	color: rgb(34, 34, 34);
	font-weight: bold;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin-left: 8px;
	padding: 4px 8px;
	width: 56px;
	height: 28px;
}

.modal_align_ {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.map_modal_info {
	width: fit-contents;
	padding: 32px;
	background: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0/ 10%) 0px 10px 20px;
	border: 1px solid rgb(223, 223, 223);
	border-radius: 2px;
}

.iamnls {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.fOVNCS {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.kPmScS {
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 700;
    height: 27px;
    margin-bottom: 4px;
    line-height: 27px;
}

.fGfKPR {
    color: rgb(34, 34, 34);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 19px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fYtEsj {
    color: rgb(34, 34, 34);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.write {
	float: right;
	margin-bottom: 2%;
}

.selform {
	width: 10%;
	display: inline-block;
	vertical-align: middle;
}

.txtform {
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}

