/* body {
  padding-bottom: 20px;
} */

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-link.active {
	color: rgba(113,201,206,0.9) !important;
	font-weight: bold;
}

.nav-link {
	color: rgba(0,0,0,0.3) !important;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .show>.nav-link {
    color: #41464b;
}

.navbar-dark .navbar-brand, .navbar-dark {
    color: #41464b;
}

.bg-black {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
}
