<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hanulso.mapper.AlertMapper">

	<select id="notice_list" resultType="com.hanulso.domain.KnowledgeVO">
		select * from one_admin_notice order by notice_no desc
	</select>
	
	<resultMap id="alertResultMap" type="com.hanulso.domain.AlertVO">
		<id property="idx" column="idx" />
		
		<result property="idx" column="idx" />
		<result property="regdate" column="aregdate" />
		<result property="pno" column="pno" />
		<association property="product" javaType="com.hanulso.domain.ProductVO" autoMapping="true" />
	</resultMap>
	
	<select id="alert_list" resultMap="alertResultMap">
	<![CDATA[
		select * from 
			(select a.idx, a.regdate aregdate, p.* 
			from one_alert a inner join one_product p
			on a.pno = p.pno
			where a.username = #{loginuser}
			order by a.idx desc)
		where rownum <= #{alertCnt}
	]]>
	</select>
	
	<insert id="alert_insert" >
		insert into one_alert (idx, pno, username) values (alert_seq.nextval, #{pno}, #{username})
	</insert>
	
	<select id="userListFavorite" resultType="String">
		select username from one_user where favorite like '%'||#{addr2}||'%'
	</select>

</mapper>
