<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hanulso.mapper.MapMapper">

	<select id="map_view_list" resultType="com.hanulso.domain.ProductVO">
		select * from one_product
	</select>

	<select id="map_modal_view" resultType="com.hanulso.domain.ProductVO">
		select * from one_product where pno = #{pno}
	</select>
	
	<select id="getList0" resultType="com.hanulso.domain.ProductVO">
		select * from one_product
		<where>
			<!-- 방종류 -->
			<choose>
				<when test="type != null">
					<choose>
						<when test="@com.hanulso.mapper.TestMethod@isInX(type, 999)">1=1</when>
						<otherwise>
							<foreach item="item" collection="type" open="type in (" separator="," close=")" >
								#{item}
							</foreach>
						</otherwise>
					</choose>
				</when>
				<otherwise>1=0</otherwise>
			</choose>
			
			<!-- 보증금 -->
			<if test="deposit != null">
				and
				<foreach item="item" collection="deposit" open="deposit between" separator="and">
					#{item}
				</foreach>
			</if>
			
			<!-- 월세 -->
			<if test="rent != null">
				and
				<foreach item="item" collection="rent" open="rent between" separator="and">
					#{item}
				</foreach>
			</if>
			
			<!-- 관리비 -->
			<if test="manage != null">
				and 
				<foreach item="item" collection="manage" open="manage between" separator="and">
					#{item}
				</foreach>
			</if>
			
			<!-- 방크기 -->
			<if test="area != null">
				and
				<foreach item="item" collection="area" open="area between" separator="and">
					#{item}
				</foreach>
			</if>
			
			<!-- 층수 -->
			and
			<choose>
				<when test="floor != null">
					<choose>
						<!-- 전체 선택인 경우 -->
						<when test="@com.hanulso.mapper.TestMethod@isInX(floor, 999)">1=1</when>
						
						<!-- 전체 선택이 아닌 경우 -->
						<otherwise>
							(
							<foreach item="item" collection="floor" open="floor in (" separator="," close=")">
								#{item}
							</foreach>
							
							<!-- 7층이상 선택시 -->
							<if test="@com.hanulso.mapper.TestMethod@isInX(floor, 7)">
								<![CDATA[
								or floor > 7
								]]>
							</if>
							)
						</otherwise>
					</choose>
				</when>
				<otherwise>1=0</otherwise>
			</choose>
			
			<!-- 방수 -->
			and
			<choose>
				<when test="room != null">
					<choose>
						<!-- 전체 선택인 경우 -->
						<when test="@com.hanulso.mapper.TestMethod@isInX(room, 999)">1=1</when>
						
						<!-- 전체 선택이 아닌 경우 -->
						<otherwise>
							(
							<foreach item="item" collection="room" open="room in (" separator="," close=")">
								#{item}
							</foreach>
							<if test="@com.hanulso.mapper.TestMethod@isInX(room, 3)">
								<![CDATA[
								or room > 3
								]]>
							</if>
							)
						</otherwise>
					</choose>
				</when>
				<otherwise>1=0</otherwise>
			</choose>
			
			<!-- 욕실수 -->
			and
			<choose>
				<when test="shower != null">
					<choose>
						<!-- 전체 선택인 경우 -->
						<when test="@com.hanulso.mapper.TestMethod@isInX(shower, 999)">1=1</when>
						
						<!-- 전체 선택이 아닌 경우 -->
						<otherwise>
							(
							<foreach item="item" collection="shower" open="shower in (" separator="," close=")">
								#{item}
							</foreach>
							<if test="@com.hanulso.mapper.TestMethod@isInX(shower, 3)">
								<![CDATA[
								or shower > 3
								]]>
							</if>
							)
						</otherwise>
					</choose>
				</when>
				<otherwise>1=0</otherwise>
			</choose>
			
			<!-- 풀옵션 -->
			and
			<choose>
				<when test="fulloption != null">
					<choose>
						<when test="@com.hanulso.mapper.TestMethod@isInX(fulloption, 999)">1=1</when>
						<otherwise>
							<foreach item="item" collection="fulloption" open="fulloption in (" separator="," close=")" >
								#{item}
							</foreach>
						</otherwise>
					</choose>
				</when>
				<otherwise>1=0</otherwise>
			</choose>
			
			<!-- 동 -->
			<if test="addr2 != null">
				and addr2=#{addr2}
			</if>
		</where>
	</select>
	
	
	<select id="getList1" resultType="com.hanulso.domain.CorVO">
		SELECT c.*, NVL(pcheck,0) pc, decode(NVL(pcheck,0),1,regdate,0,sysdate) rg
		FROM one_cor c left outer join one_premium p
		on c.username=p.username
		<if test="addr2 != null">
			WHERE addr like '%'||#{addr2}||'%'
		</if>
		order by pc desc, rg asc
	</select>

</mapper>
