<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hanulso.mapper.MapMapper">

	<select id="map_view_list" resultType="com.hanulso.domain.ProductVO">
		select * from one_product
	</select>

	<select id="map_modal_view" resultType="com.hanulso.domain.ProductVO">
		select * from one_product where pno = #{pno}
	</select>
	
	
	<select id="getList" resultType="com.hanulso.domain.ProductVO">
		select * from one_product
		<where>
			<!-- 방종류 -->
			<choose>
				<when test="type != null">
					<foreach item="item" collection="type" open="type in (" separator="," close=")" >
						#{item}
					</foreach>
				</when>
				<otherwise>1=0</otherwise>
			</choose>
			
			<if test="manage != null">
				and 
				<foreach item="item" collection="manage" open="manage between" separator="and">
					#{item}
				</foreach>
			</if>
			
			<if test="dong != null">
				and addr2=#{dong}
			</if>
		</where>
	</select>

</mapper>
