<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hanulso.mapper.PremiumMapper">

	<insert id="premium_insert">
		insert into one_premium
		(merchant_uid,username,pLastdate)
		values
		(#{merchant_uid},#{username},#{pLastdate})
	</insert>
	
	<select id="premium_select">
		select * from one_premium
		where username=#{username}
	</select>
	
	
</mapper>