<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hanulso.mapper.ProductMapper">

	<insert id="product_insert">
		<selectKey keyProperty="pno" order="BEFORE" resultType="int">
			select ONE_PRODUCT_seq.nextval from dual
		</selectKey>
		insert into product (pno,type,deposit,rent,manage,area,floar,totalfloor,room,shower,addr1,addr2,addr3,lat,lng,picture,thumbnail,contents,fulloption,email)
		values(#{pno},#{type},#{deposit},#{rent},#{manage},#{area},#{floar},#{totalfloor},#{room},#{shower},#{addr1},#{addr2},#{add3},#{lat},#{lan},#{picture},#{thumbnail},#{contents},#{fulloption},#{email})
	</insert>

</mapper>